<h2>Home</h2>
<table class="table table-bordered table-striped">
<thead>
    <tr>
        <th>Title</th>
        <th>Director</th>
    </tr>
</thead>
    <tbody>

        <tr ng-repeat="movie in controller.movies">
            <td>{{movie.title}}</td>
            <td>{{movie.director}}</td>
            <td><a ng-href="/editMovie/{{movie.id}}" class="btn btn-primary"> Edit</a></td>
            <td><a ng-href="/deleteMovie/{{movie.id}}" class="btn btn-danger">Delete</a></td>
        </tr>
    </tbody>

</table>
<a ui-sref="addMovie" class="btn btn-success"> Add Movie </a>